:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-hover: #17171720;
  --detail: #5f6368;
  --highlight: #0077c7;
  --warn: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-hover: #ededed20;
    --detail: #9aa0a6;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all ease 200ms;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.firebase-emulator-warning {
  display: none;
}
